<% if @order.manifestation_id %>
  <% if @order.manifestation.series_statement %>
    <% if@order.manifestation.series_statement.root_manifestation_id == @order.manifestation.id %>
      <% @series_statement = @order.manifestation.series_statement %>
      <%= render 'manifestations/index_form_series_statement_header' -%>
    <% else %>
      <%= render 'manifestations/title', :manifestation => @order.manifestation -%>
    <% end %>
  <% else %>
    <%= render 'manifestations/title', :manifestation => @order.manifestation -%>
  <% end %>
<% end %>

<script>
$(function(){
  $('#order_ordered_at').setCalendar({src:'/assets/calendar.png'});
  $('#order_collection_stop_day').setCalendar({src:'/assets/calendar.png'});
});
</script>
<script>
  $(document).ready(function() {
    $("#order_order_organization_id").select2({
      
multiple: false,
      data: <%= raw @select_agent_tags.to_json -%>,
      formatNoMatches: function(user) {
        return <%= raw t("order.no_matches_found_agent").to_json %>;
      },
      width: "300px",
    });
  });
</script>
<script>
  var ItemField = {
    switch_field : function () {

      var checkbox = document.getElementById('order_auto_calculation_flag');

      var field = document.getElementById('order_manual_field');

      if(checkbox.checked){
        field.style.display="none";
      }else{
        field.style.display="block";
      }
    }  
  };

</script>


<%= form_for(@order) do |f| %>
  <%= f.error_messages %>

  <% unless @order.manifestation_id %>
    <div class="field">
      <%= label '', t('activerecord.attributes.order.manifestation_identifier') %><br />
      <%= text_field_tag "manifestation_identifier", @manifestation_identifier %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_identifier %><br />
    <%= f.text_field :order_identifier %>
  </div>

  <%= f.hidden_field :manifestation_id %>

  <div class="field">
    <%= f.label :ordered_at %><br />
    <% if @order.ordered_at %>
      <%= f.text_field :ordered_at, :value => @order.ordered_at.to_date %>
    <% else %>
      <%= f.text_field :ordered_at %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :order_year %><br />
    <%= f.text_field :order_year %>
  </div>

  <div class="field">
    <%= f.label :buying_payment_year %><br />
    <%= f.text_field :buying_payment_year %>
  </div>

  <div class="field">
    <%= f.label :prepayment_settlements_of_account_year %><br />
    <%= f.text_field :prepayment_settlements_of_account_year %>
  </div>
 
  <% if paid_flags %>
    <div class="field">
      <%= f.label :paid_flag %><br />
      <%= f.select :paid_flag, paid_flags.collect{|p| [p.keyname.localize, p.id]}, :include_blank => true %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number_of_acceptance_schedule %><br />
    <%= f.text_field :number_of_acceptance_schedule %>
  </div>



  <div class="field">
    <%= f.label :meeting_holding_month_1 %><br />
    <%= f.text_field :meeting_holding_month_1 %>
  </div>

  <div class="field">
    <%= f.label :meeting_holding_month_2 %><br />
    <%= f.text_field :meeting_holding_month_2 %>
  </div>

  <% if adption_codes %>
    <div class="field">
      <%= f.label :adption_code %><br />
      <%= f.select :adption_code, adption_codes.collect{|p| [p.keyname.localize, p.id]}, :include_blank => true %>
    </div>
  <% end %>

  <% if deliver_place_codes %>
    <% @deliver_place_codes = deliver_place_codes.collect{|p| [p.keyname.localize, p.id]} %>
    <div class="field">
      <%= f.label :deliver_place_code_1 %><br />
      <%= f.select :deliver_place_code_1, @deliver_place_codes, :include_blank => true %>
    </div>

    <div class="field">
      <%= f.label :deliver_place_code_2 %><br />
      <%= f.select :deliver_place_code_2, @deliver_place_codes, :include_blank => true %>
    </div>

    <div class="field">
      <%= f.label :deliver_place_code_3 %><br />
      <%= f.select :deliver_place_code_3, @deliver_place_codes, :include_blank => true %>
    </div>

  <% end %>

  <% if reference_codes %>
    <div class="field">
      <%= f.label :reference_code_id %><br />
      <%= f.select :reference_code_id, reference_codes.collect{|p| [p.keyname.localize, p.id]}, :include_blank => true %>
    </div>
  <% end %>

  <% if application_form_codes %>
    <% @application_form_codes = application_form_codes.collect{|p| [p.keyname.localize, p.id]} %>
    <div class="field">
      <%= f.label :application_form_code_1 %><br />
      <%= f.select :application_form_code_1, @application_form_codes, :include_blank => true %>
    </div>

    <div class="field">
      <%= f.label :application_form_code_2 %><br />
      <%= f.select :application_form_code_2, @application_form_codes, :include_blank => true %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number_of_acceptance %><br />
    <%= @order.number_of_acceptance %>
    <%= f.hidden_field :number_of_acceptance %>
  </div>

  <div class="field">
    <%= f.label :number_of_missing %><br />
    <%= f.text_field :number_of_missing %>
  </div>

  <div class="field">
    <%= f.label :collection_status_code %><br />

    <% if collection_status_codes %>
      <%= f.select :collection_status_code, collection_status_codes.collect{|p| [p.keyname.localize, p.id]} %>
    <% else %>
      <%= f.text_field :collection_status_code %>
    <% end %>
  </div>

  <% if reason_for_collection_stop_codes %>
    <div class="field">
      <%= f.label :reason_for_collection_stop_code %><br />
      <%= f.select :reason_for_collection_stop_code, reason_for_collection_stop_codes.collect{|p| [p.keyname.localize, p.id]}, :include_blank => true %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :collection_stop_day %><br />
    <% if @order.collection_stop_day %>
      <%= f.text_field :collection_stop_day, :value => @order.collection_stop_day.to_date %>
    <% else %>
      <%= f.text_field :collection_stop_day %>
    <% end %>
  </div>

  <% if order_form_codes %>
    <div class="field">
      <%= f.label :order_form_code %><br />
      <%= f.select :order_form_code, order_form_codes.collect{|p| [p.keyname.localize, p.id]}, :include_blank => true %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :collection_form_code %><br />

    <% if collection_form_codes %>
      <%= f.select :collection_form_code, collection_form_codes.collect{|p| [p.keyname.localize, p.id]} %>
    <% else %>
      <%= f.text_field :collection_form_code %>
    <% end %>
  </div>

  <% if payment_form_codes %>
    <div class="field">
      <%= f.label :payment_form_code %><br />
      <%= f.select :payment_form_code, payment_form_codes.collect{|p| [p.keyname.localize, p.id]} %>
    </div>
  <% end %>

  <% if budget_subject_codes %>
    <div class="field">
      <%= f.label :budget_subject_code %><br />
      <%= f.select :budget_subject_code, budget_subject_codes.collect{|p| [p.keyname.localize, p.id]}, :include_blank => true %>
    </div>
  <% end %>

  <% if transportation_route_codes %>
    <div class="field">
      <%= f.label :transportation_route_code %><br />
      <%= f.select :transportation_route_code, transportation_route_codes.collect{|p| [p.keyname.localize, p.id]}, :include_blank => true %>
    </div>
  <% end %>

  <% if bookstore_codes %>
    <div class="field">
      <%= f.label :bookstore_code %><br />
      <%= f.select :bookstore_code, bookstore_codes.collect{|p| [p.keyname.localize, p.id]}, :include_blank => true %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :currency_id %><br />
    <%= f.collection_select :currency_id, @currencies, :id, :display_name %>
  </div>

  <div class="field">
    <%= f.label :margin_ratio %><br />
    <%= f.text_field :margin_ratio %>
  </div>

  <% if publisher_types %>
    <div class="field">
      <%= f.label :publisher_type_id %><br />
      <%= f.select :publisher_type_id, publisher_types.collect{|p| [p.keyname.localize, p.id]}, :include_blank => true %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :original_price %><br />
    <%= f.text_field :original_price %>
  </div>

  <div class="filed">
    <%= f.label t('order.switch_manual_entry') %><br />
    <%= check_box :order_auto_calculation, :flag, {:checked => @auto_calculation_flag, :onchange => 'ItemField.switch_field()', :checked_value => "1", :unchecked_value => "0"} %>
  </div>

  <% if @auto_calculation_flag %>
    <div id="order_manual_field" style="display:none">
  <% else %>
    <div id="order_manual_field">
  <% end %>
    <div class="field">
      <%= f.label :currency_rate %><br />
      <%= f.text_field :currency_rate %>
    </div>

    <div class="field">
      <%= f.label :cost %><br />
      <%= f.text_field :cost %>
    </div>
  </div>  

  <div class="field">
    <%= f.label :taxable_amount %><br />
    <%= f.text_field :taxable_amount %>
  </div>

  <div class="field">
    <%= f.label :tax_exempt_amount %><br />
    <%= f.text_field :tax_exempt_amount %>
  </div>

  <div class="field">
    <%= f.label :order_organization_id %><br />
    <%= f.text_field :order_organization_id %>
  </div>

  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>

  <div class="field">
    <%= f.label :group %><br />
    <%= f.text_field :group %>
  </div>

  <div class="field">
    <%= f.label :pair_manifestation_id %><br />
    <%= f.text_field :pair_manifestation_identifier %>
  </div>

  <%= hidden_field_tag :return_index, @return_index  if @return_index %>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>

