<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.order')) -%></h1>
<div id="content_list">

  <%= render 'form' %>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <% if @return_index %>
      <li><%= link_to t('page.show'), order_path(@order, :return_index => true) -%></li>
      <li><%= link_to t('page.back'), manifestation_orders_path(@order.manifestation) -%></li>
    <% else %>
      <li><%= link_to t('page.show'), order_path(@order) -%></li>
      <li><%= link_to t('page.back'), orders_path -%></li>
    <% end %>
  </ul>
</div>
