<%= form_for(@use_license) do |f| %>
  <%= f.error_messages %>

  <div class="table">
    <div class="row">
      <div><%= f.label :target %></div>
      <div>
        <% if targets %>
          <%= f.select(:target, targets.collect{|r| [r.keyname.localize, r.v]}) %>
        <% else %>
          <%= f.select(:target, "") %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div><%= f.label :author %></div>
      <div>
        <% if authors %>
          <%= f.select(:author, authors.collect{|r| [r.keyname.localize, r.v]}) %>
        <% else %>
          <%= f.select(:author, "") %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div><%= f.label :author_fee %></div>
      <div><%= f.select(:author_fee, @author_fees) %></div>
    </div>
    <div class="row">
      <div><%= f.label :agency_name %></div>
      <div><%= f.text_field :agency_name %></div>
    </div>
    <div class="row">
      <div><%= f.label :agency_address %></div>
      <div><%= f.text_field :agency_address %></div>
    </div>
    <div class="row">
      <div><%= f.label :responsible_name %></div>
      <div><%= f.text_field :responsible_name %></div>
    </div>
    <div class="row">
      <div><%= f.label :responsible_tel %></div>
      <div><%= f.text_field :responsible_tel %></div>
    </div>
    <div class="row">
      <div><%= f.label :responsible_mail %></div>
      <div><%= f.text_field :responsible_mail %></div>
    </div>
    <div class="row">
      <div><%= f.label :bank_name %></div>
      <div><%= f.text_field :bank_name %></div>
    </div>
    <div class="row">
      <div><%= f.label :bank_code %></div>
      <div><%= f.text_field :bank_code %></div>
    </div>
    <div class="row">
      <div><%= f.label :branch_name %></div>
      <div><%= f.text_field :branch_name %></div>
    </div>
    <div class="row">
      <div><%= f.label :branch_number %></div>
      <div><%= f.text_field :branch_number %></div>
    </div>
    <div class="row">
      <div><%= f.label :account_name %></div>
      <div><%= f.text_field :account_name %></div>
    </div>
    <div class="row">
      <div><%= f.label :account_number %></div>
      <div><%= f.text_field :account_number %></div>
    </div>
    <div class="row">
      <div><%= f.label :account_kind %></div>
      <div><%= f.select(:account_kind, @account_kinds) %></div>
    </div>
    <div class="actions row">
      <div></div>
      <div><%= f.submit %></div>
    </div>
  </div>
<% end %>

