<% if @payment.order.manifestation.series_statement %>
  <% if@payment.order.manifestation.series_statement.root_manifestation_id == @payment.order.manifestation.id %>
    <% @series_statement = @payment.order.manifestation.series_statement %>
    <%= render 'manifestations/index_form_series_statement_header' -%>
  <% else %>
    <%= render 'manifestations/title', :manifestation => @payment.order.manifestation -%>
  <% end %>
<% else %>
  <%= render 'manifestations/title', :manifestation => @payment.order.manifestation -%>
<% end %>



<script>
$(function(){
  $('#payment_billing_date').setCalendar({src:'/assets/calendar.png'});
});
</script>
<script>
  var ItemField = {
    switch_field : function () {

      var checkbox = document.getElementById('payment_auto_calculation_flag');
      var field = document.getElementById('payment_manual_field');

      if(checkbox.checked){
        field.style.display="none";
      }else{
        field.style.display="block";
      }
    }
  };
</script>



<%= form_for(@payment) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :order_id %><br />
    <%= @payment.order.order_identifier %>
    <%= f.hidden_field :order_id %>
  </div>

  <div class="field">
    <%= f.label :billing_date %><br />
    <% if @payment.billing_date %>
      <%= f.text_field :billing_date, :value => @payment.billing_date.to_date %>
    <% else %>
      <%= f.text_field :billing_date %>
    <% end %>
  </div>

    <%= f.hidden_field :manifestation_id %>

  <div class="field">
    <%= f.label :currency_id %><br />
    <%= f.select :currency_id, Currency.all.collect{|p| [p.display_name,p.id]}, :include_blank => true %>
  </div>

  <div class="field">
    <%= f.label :discount_commision %><br />
    <%= f.text_field :discount_commision %>
  </div>

  <div class="field">
    <%= f.label :before_conv_amount_of_payment %><br />
    <%= f.text_field :before_conv_amount_of_payment %>
  </div>

  <div class="field">
    <%= f.label :number_of_payment %><br />
    <%= f.text_field :number_of_payment %>
  </div>

  <div class="field">
    <%= f.label t('payment.switch_manual_entry') %><br />
    <%= check_box :payment_auto_calculation, :flag, {:checked => @auto_calculation_flag, :onchange => 'ItemField.switch_field()', :checked_value => "1", :unchecked_value => "0"} %>
  </div>

  <% if @auto_calulation_flag %>
    <div id="payment_manual_field" style="display:none">
  <% else %>
    <div id="payment_manual_field">
  <% end %>
    <div class="field">
      <%= f.label :currency_rate %><br />
      <%= f.text_field :currency_rate %>
    </div>

    <div class="field">
      <%= f.label :amount_of_payment %><br />
      <%= f.text_field :amount_of_payment %>
    </div>

    <div class="field">
      <%= f.label :taxable_amount %><br />
      <%= f.text_field :taxable_amount %>
    </div>

    <div class="field">
      <%= f.label :tax_exempt_amount %><br />
      <%= f.text_field :tax_exempt_amount %>
    </div>
 
  </div>


  <div class="field">
    <%= f.label :volume_number %><br />
    <%= f.text_field :volume_number %>
  </div>

  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>

  <div class="field">
    <%= f.label :payment_type %><br />
    <% if payment_types %>
      <%= f.select :payment_type, payment_types.collect{|p| [p.keyname.localize, p.v.to_i]} %>
    <% else %>
      <%= f.text_field :payment_type %>
    <% end %>
  </div>

  <%= hidden_field_tag :return_index, @return_index if @return_index %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
