<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.payment')) -%></h1>
<div id="content_list">

<%= render 'form' %>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <% if @return_index %>
      <li><%= link_to t('page.show'), payment_path(@payment, :return_index => true) -%></li>
      <li><%= link_to t('page.back'), order_payments_path(@payment.order) -%></li>
    <% else %>
      <li><%= link_to t('page.show'), payment_path(@payment) -%></li>
      <li><%= link_to t('page.back'), payments_path -%></li>
    <% end %>
  </ul>
</div>
