<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.payment')) -%></h1>
<div id="content_list">
<p id="notice"><%= raw notice %></p>
<% if @order %>
  <p>
    <%= t('activerecord.attributes.manifestation.original_title') -%>:
    <%= link_to @order.try(:manifestation).try(:original_title), manifestation_path(@order.manifestation, :all_manifestations => true) %>

    <%= t('activerecord.attributes.order.manifestation_identifier') %>:
    <%= link_to @order.try(:manifestation).try(:identifier),  manifestation_path(@order.manifestation, :all_manifestations => true)  if @order.try(:manifestation).try(:identifier)%>

  <p>
    <%= t('activerecord.attributes.payment.order_id') %>:
    <%= link_to @order.order_identifier, order_path(@order, :return_index => true) %>

    <%= t('activerecord.attributes.order.order_year') %>:
    <%= @order.order_year %>
  </p><br />


<% else %>
  <%= form_tag({:action => 'search'}, {:method => 'get'}) do %>

    <p>
    <% if @manifestation_original_title %>
      <%= t('activerecord.attributes.manifestation.original_title') -%>:
      <%= @manifestation_original_title %>
    <% end %>
    </p>

    <p>
    <%= t('activerecord.attributes.payment.order_id') %>:
    <%= text_field_tag :order_identifier, @selected_order_identifier %>

    <%= t('activerecord.attributes.order.order_year') %>:
    <%= select('', :order_year, @select_years, {:selected => @selected_year, :prompt => t('page.all_search_term')}) %>
    </p>

    <%= submit_tag t('page.search') %>
  <% end %>

<% end %>

<div style="color: red"><%= flash[:message].to_s -%></div>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.payment.id') %></th>
    <th><%= t('activerecord.attributes.payment.payment_type') %></th>
    <th><%= t('activerecord.attributes.payment.volume_number') %></th>
    <th><%= t('activerecord.attributes.payment.number_of_payment') %></th>
    <th><%= t('activerecord.attributes.payment.billing_date') %></th>
    <th><%= t('activerecord.attributes.payment.amount_of_payment') %></th>
    <th></th>
  </tr>

<% @payments.each do |payment| %>
  <tr class="line<%= cycle("0", "1") -%>">
    <% if @order %>
      <td><%= link_to payment.id, payment_path(payment, :return_index => true) %></td>
    <% else %>
      <td><%= link_to payment.id, payment %></td>
    <% end %>
    <td><%= get_keyname_payment_types(payment.payment_type.to_s) if payment.payment_type %></td>
    <td><%= payment.volume_number %></td>
    <td><%= payment.number_of_payment %></td>
    <td><%= l(payment.billing_date, :format => :only_date)  if payment.billing_date %></td>
    <td><%= payment.amount_of_payment %></td>
    <td>
      <% if @order %>
        <%= link_to t('page.edit'), edit_payment_path(payment, :return_index => true) %>
        <%= link_to t('page.destroy'), payment_path(payment, :return_index => true), :confirm => t('page.are_you_sure'), :method => :delete -%>
      <% else %>
        <%= link_to t('page.edit'), edit_payment_path(payment) %>
        <%= link_to t('page.destroy'), payment, :confirm => t('page.are_you_sure'), :method => :delete -%>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate(@payments) -%>

</div>
</div>

<!--
<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, Order -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.payment')), new_payment_path -%></li>
    <%- end -%>
  </ul>
</div>
-->

